<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Quiz</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <link
      rel="stylesheet"
      type="text/css"
      media="only screen and (min-width: 800px) and (min-device-width: 600px)"
      href="/stylesheets/wide.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="only screen and (max-width: 480px)"
      href="/stylesheets/smartphone.css"
    />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css">
  </head>
  <body>
    <div id="page">
      <header class="main" id="mainHeader">
        <div class="right">
          <% if (!locals.loginUser) { %>
            <a href="/login">Login</a>
          <% }
          else { %>
            <a href="/users/<%= loginUser.id %>"><%= loginUser.displayName %></a>
            <a href="/login?_method=DELETE">Logout</a>
          <% } %>
        </div>
        <h1>
          <span class="no-narrow">The</span>
          Quiz
          <span class="no-narrow">Site</span>
        </h1>
      </header>
      <nav class="main" id="mainNav" role="navigation">
        <a href="/">Home</a>
        <a href="/quizzes">Quizzes</a>
        <a href="/author">Author</a>
        <% if (locals.loginUser) { %>
          <a href="/users">Users</a>
        <% } %>
        <a href="/quizzes/randomplay">Play</a>
      </nav>
      <section class="main" id="mainSection">

        <% if (messages.info) { %>
          <article id="flashinfo">
            <h3>Information of interest:</h3>
            <ul>
              <% for (var i in messages.info) { %>
                <li> <%= messages.info[i] %> </li>
              <% } %>
            </ul>
          </article>
        <% } %>

        <% if (messages.success) { %>
          <article id="flashsuccess">
            <h3>Tasks completed successfully</h3>
            <ul>
              <% for (var i in messages.success) { %>
                <li> <%= messages.success[i] %> </li>
              <% } %>
            </ul>
          </article>
        <% } %>

        <% if (messages.error) { %>
          <article id="flasherror">
            <h3>Errors:</h3>
            <ul>
              <% for (var i in messages.error) { %>
                <li> <%= messages.error[i] %> </li>
              <% } %>
            </ul>
          </article>
        <% } %>


        <%- body %>

        <% if (locals.paginate_control) { %>
          <%- paginate_control %>
        <% } %>

      </section>
      <footer class="main" id="mainFooter">
        <a href="http://en.wikipedia.org/wiki/Quiz" target="_blank">What is a Quiz?</a>
      </footer>
    </div>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#252e39"
        },
        "button": {
          "background": "#14a7d0"
        }
      }
    });
  </script>
</html>
