<h1>Groups:</h1>

<table>
    <% for (var i in groups) { %>
        <% var group = groups[i]; %>
        <tr>
            <td>
                <a href="/groups/<%= group.id %>/randomplay"><%= group.name %></a>
            </td>
            <% if (locals.loginUser && locals.loginUser.isAdmin) { %>
                <td>
                    <a href="/groups/<%= group.id %>/edit" class="button">Edit</a>
                </td>
                <td>
                    <a href="/groups/<%= group.id %>?_method=DELETE"
                       onClick="return confirm('Delete: <%= group.name %>');"
                       class="button">Delete</a>
                </td>
            <% } %>
        </tr>
    <% } %>
</table>

<% if (locals.loginUser && locals.loginUser.isAdmin) { %>
    <a href="/groups/new" class="button">Create New Group</a>
<% } %>