<h1>Users:</h1>
<table>
    <% for (var i in users) { %>
        <tr>
            <td>
                <a href="/users/<%= users[i].id %>"><%= users[i].displayName %></a>
                <%= users[i].isAdmin ? "(admin)" : "" %>
            </td>
            <td>
                <% if (!users[i].accountTypeId) { %>
                    <a href="/users/<%= users[i].id %>/edit" class="button">Edit</a>
                <% } %> 
            </td>
            <td>
                <a href="/users/<%= users[i].id %>?_method=DELETE" 
                    onclick="return confirm('Delete user: <%= users[i].displayName %>');" 
                    class="button">Delete</a>
            </td>
        </tr>
    <% } %>
</table>
<br>
<a href="/users/new" class="button">Create New User</a>





