<h1>User: </h1>

<ul>
    <li>User name: <b><%= user.displayName %></b></li>
    <li>Administrator: <b><%= user.isAdmin ? "Yes" : "No" %></b></li>
</ul>

<p>
    <a href="/users/<%= user.id %>/edit" class="button">Edit</a>
    <a href="/users/<%= user.id %>?_method=DELETE" onclick="return confirm('Delete user: <%= user.displayName %>');" class="button">Delete</a>
</p>

<a href="/goback" class="button">Go back</a>